.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
/* Soluzione Esercizio 1 */
.ex-1-square {
  transition: background-color 2s;
}
.ex-1-square:hover {
  background-color: red;
}
/* /Soluzione Esercizio 1 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Soluzione Esercizio 2 */
.ex-2-square {
  transition: width 2s;
}
.ex-2-square:active {
  width: 100%;
}
/* /Soluzione Esercizio 2 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Soluzione Esercizio 3 */
.ex-3-square {
  transition: border-radius 1s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* /Soluzione Esercizio 3 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
/* Soluzione Esercizio 4 */
.ex-4-square {
  transition: opacity 1s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* /Soluzione Esercizio 4 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
/* Soluzione Esercizio 5 */
.ex-5-square {
  transition: transform 1s;
}
.ex-5-square:hover {
  transform: scale(2.0);
}
.ex-5-square:active {
  transform: scale(0.5);
}
/* /Soluzione Esercizio 5 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* Soluzione Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(100%);
}
/* /Soluzione Esercizio 6 */

/* Soluzione Esercizio 7 */
.ex-7-img {
  transition: filter 2s;
}
.ex-7-img:hover {
  filter: grayscale(50%) sepia(50%);
}
/* /Soluzione Esercizio 7 */

/* Soluzione Esercizio 8 */
.ex-8-img {
  transition: filter 2s, border-radius 2s;
}
.ex-8-img:hover {
  filter: grayscale(50%) sepia(50%);
  border-radius: 15px;
}
/* /Soluzione Esercizio 8 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
/* Soluzione Esercizio 9 */
.ex-9-img {
  transition: filter 2s, border-radius 2s, transform 2s;
}
.ex-9-img:hover {
  filter: grayscale(50%) sepia(50%);
  border-radius: 15px;
  transform: scale(1.5);
}
/* /Soluzione Esercizio 9 */

.ex-10-icon {
    font-size: 60px;
}
/* Soluzione Esercizio 10 */
.ex-10-icon {
  animation-name: spin-ex-10;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-ex-10 {

  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(-360deg);
  }

}
/* /Soluzione Esercizio 10 */

.ex-11-icon {
    font-size: 60px;
}
/* Soluzione Esercizio 11 */
.ex-11-icon:hover {
  animation-name: spin-ex-11;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes spin-ex-11 {

  0% {
    transform:rotate(0deg);
  }

  75% {
    transform:rotate(270deg);
  }

  100% {
    transform:rotate(0deg);
  }

}
/* /Soluzione Esercizio 11 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Soluzione Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
  animation-name: move-top-ex-12;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-top-ex-12 {

  0% {
    left: 10%;
  }

  50% {
    left: calc(100% - 60px);
  }

  100% {
    left: 10%;
  }

}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: move-bottom-ex-12;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-bottom-ex-12 {

  0% {
    right: 20%;
  }

  50% {
    right: calc(100% - 60px);
  }

  100% {
    right: 20%;
  }

}
/* /Soluzione Esercizio 12 */

/* Soluzione Esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
  animation-name: move-top-ex-13;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-top-ex-13 {

  0% {
    left: 10%;
    top: -10px;
  }

  30% {
    left: calc(100% - 30px);
    top: -10px;
  }

  45% {
    left: calc(100% - 30px);
    top: 100%;
  }

  75% {
    left: 0;
    top: 100%;
  }

  90% {
    left: -15px;
    top: -10px;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: move-bottom-ex-13;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-bottom-ex-13 {

  0% {
    bottom: -10px;
    right: 20%;
  }

  30% {
    right: calc(100% - 30px);
    bottom: -10px;
    }

  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }

  75% {
    right: 0;
    bottom: 100%;
  }

  90% {
    right: -15px;
    bottom: -10px;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }

}
/* /Soluzione Esercizio 13 */
